{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "environmentName": {
      "value": "${WORKSPACE}"
    },
    "location": {
      "value": "${LOCATION}"
    },
    "principalId": {
      "value": "${SINGED_IN_USER_PRINCIPAL}"
    },
    "randomString": {
      "value": "${RANDOM_STRING}"
    },
    "buildNumber": {
      "value": "${BUILD_NUMBER}"
    },
    "aadClientId": {
      "value": "${AZURE_AD_APP_CLIENT_ID}"
    },
    "isInAutomation": {
      "value": ${IS_IN_AUTOMATION}
    },
    "AZURE_OPENAI_API_ENDPOINT": {
      "value": "${AZURE_OPENAI_API_ENDPOINT}"
    },
    "AZURE_OPENAI_API_VERSION": {
      "value": "${AZURE_OPENAI_API_VERSION}"
    },
    "AZURE_OPENAI_SERVICE_KEY": {
      "value": "${AZURE_OPENAI_SERVICE_KEY}"
    },
    "AZURE_OPENAI_CHATGPT_DEPLOYMENT": {
      "value": "${AZURE_OPENAI_CHATGPT_DEPLOYMENT}"
    },
    "AZURE_OPENAI_GPT4_DEPLOYMENT": {
      "value": "${AZURE_OPENAI_GPT4_DEPLOYMENT}"
    },
    "AZURE_MAPS_KEY": {
      "value": "${AZURE_MAPS_KEY}"
    }
  }
}
